
.profileImage{
    height: 300px;
    /* width: 360px; */
    border-radius: 25px;
}

.features{
    border: 2px;
    border-radius: 15px;
    background-color: #484e53;
    color: white;
    
}

.font-fam{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImagesection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px !important;
}


.downloadcv-btn{
    width: 145px;
}

.skillsdiv{
    display: flex;
}

@media screen and (max-width:992px) {
    .skillsdiv{
        flex-direction: column;
    }
}