
.flex-property{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media screen and (min-width:768px) and (max-width:992px){
    .flex-property{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width:500px) and (max-width:768px){
    .flex-property{
        flex-direction: column;
        justify-content: space-around;
    }

    .write-section{
        padding: 23px;
        width: 390px;
        margin: 6px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
