.home-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

.profileImage{
    height: 350px;
    /* width: 350px; */
}

.hello-btn{
    width: 110px;
}

.font-style{
    font-family: cursive;
}


@media screen and (min-width:768px) and (max-width:1400px) {
    .profileImage{
        height: 270px;
        width: 260px;
    }

    .text-center{
        text-align: center;
    }
}