*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    /* background-image: url('https://cdn.quotesgram.com/img/58/36/2029536437-plain-white-background.jpeg'); */
}
